{% extends 'base.html.twig' %}

{% block title %}Hello MainpageController!{% endblock %}

{% block body %}
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">

    <body>

    <header class="sticky-top">
        <div class="header">
            <div class="container">
                <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3">
                    <div>
                        <a href="{{ path('app_mainpage') }}" class="d-inline-flex text-decoration-none">
                            <img class="img-logo" src="{{ asset('img/logo.png') }}" alt="">
                        </a>
                    </div>

                    <ul class="nav col-12 col-md-auto justify-content-center">
                        <li><a href="{{ path('app_mainpage') }}" class="nav-link px-2 text-light">HOME</a></li>
                        <li><a href="{{ path('app_contact') }}" class="nav-link px-2 text-light">CONTACT</a></li>
                    </ul>

                    <div class="d-flex justify-content-center">
                        <!-- User Account Button -->
                        <button class="btn" type="button" data-bs-toggle="offcanvas"
                                data-bs-target="#offcanvasWithBothOptions" aria-controls="offcanvasWithBothOptions">
                            <h2><i class="bi bi-person-circle text-light"></i></h2>
                        </button>

                        <!-- Account Offcanvas -->
                        <div class="offcanvas offcanvas-start text-bg-white d-flex flex-column rounded-4"
                             data-bs-scroll="true" tabindex="-1"
                             id="offcanvasWithBothOptions" aria-labelledby="offcanvasWithBothOptionsLabel">
                            <div class="offcanvas-header" style="background-color: #f0eeee;">
                                <h4 class="mb-0 head-text text-black">
                                    {% if app.user %}
                                        {{ app.user.firstName }}'s Account
                                    {% else %}
                                        Guest Account
                                    {% endif %}
                                </h4>
                                <button type="button" class="btn-close btn-close-black" data-bs-dismiss="offcanvas"
                                        aria-label="Close"></button>
                            </div>

                            <div class="offcanvas-body flex-grow-1 overflow-auto d-flex justify-content-center align-items-center">

                                <div class="head-text text-black">
                                    {% if app.user %}
                                        <!-- Show user name when logged in -->
                                        {#                                        <div class="btn btn-warning checkout-btn w-100 mb-3"> #}
                                        {#                                            {{ app.user.firstName }} #}
                                        {#                                        </div> #}
                                        <div class="btn btn-warning checkout-btn w-100 mb-3">
                                            <a href="{{ path('app_logout') }}">Logout</a>
                                        </div>
                                    {% else %}
                                        <a href="{{ path('app_login') }}">
                                            <button class="btn btn-warning checkout-btn w-100 mb-3">Login</button>
                                        </a>
                                        <a href="{{ path('app_register') }}">
                                            <button class="btn btn-warning checkout-btn w-100 mb-3">Sign up</button>
                                        </a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>


                        <!-- Shopping Cart Button (Always Visible) -->
                        <button class="btn bg-transparent border border-0" type="button" data-bs-toggle="offcanvas"
                                data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar"
                                aria-label="Toggle navigation">
                            <h2><i class="bi bi-cart text-light"></i></h2>
                        </button>

                        <!-- Shopping Cart Offcanvas -->
                        <div class="offcanvas offcanvas-end text-bg-white d-flex flex-column rounded-4" tabindex="-1"
                             id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
                            <div class="offcanvas-header" style="background-color: #f0eeee;">
                                <h4 class="mb-0 head-text text-black">Your Cart</h4>
                                <button type="button" class="btn-close btn-close-black" data-bs-dismiss="offcanvas"
                                        aria-label="Close"></button>
                            </div>

                            <div class="offcanvas-body flex-grow-1 overflow-auto d-flex justify-content-center align-items-center">
                                <div id="cart-items" class="text-center">
                                    <div>
                                        <img src="{{ asset('img/spoon-and-fork.png') }}" style="width: 100px;" alt="">
                                        <br><br>
                                        <h5 class="head-text text-black">Your cart is empty</h5>
                                    </div>
                                </div>
                            </div>

                            <!-- Summary Section -->
                            <div class="mt-auto p-4 shadow-sm border rounded">
                                <a href="{{ path('app_checkout') }}">
                                    <button class="btn btn-warning checkout-btn w-100 mb-3">Proceed to Checkout</button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>


    <main class="p-1">
        {% for pizza in pizzas %}
            <div class="row">
                <!-- Left Side (Larger Column) -->
                <div class="col-md-8 bg-light p-4">
                    <div class="d-flex justify-content-center align-items-center" style="height: 100%;">
                        <img src="{{ asset( pizza.image2 ) }}" alt="" class="img-fluid">
                    </div>
                </div>

                <!-- Right Side (Smaller Column) -->
                <div class="col-md-4 text-black p-4">
                    <h1 class="head-text text-black">{{ pizza.name }}</h1>
                    <br>
                    <h3 class="head-text  text-black">Variation </h3>
                    <br>
                    <form action="{{ path('app_add_shopping_cart', {'id': pizza.id}) }}" method="POST">
                        <div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="size" value="S" id="sizeS" required>
                                <label class="form-check-label" for="sizeS"> Small (€5.99)</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="size" value="M" id="sizeM" checked>
                                <label class="form-check-label" for="sizeM"> Medium (€7.99) </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="size" value="L" id="sizeL">
                                <label class="form-check-label" for="sizeL"> Large (€9.99) </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="size" value="XL" id="sizeXL">
                                <label class="form-check-label" for="sizeXL"> Extra Large (€12.99) </label>
                            </div>
                        </div>

                        <br>
                        <h3 class="head-text  text-black">Sauce</h3>
                        <br>
                        <div>
                            <div class="form-check">
                                <input type="radio" class="btn-check" name="options" id="option1" value="BBQ sauce" autocomplete="off">
                                <label class="btn" for="option1">
                                    <div>
                                        <img src="{{ asset('img/pizza/pizzaSauce/BBQsauce.png') }}" alt=""
                                             style="object-fit: contain; max-height: 50px;">
                                        BBQ Sauce
                                    </div>
                                </label></div>
                            <br>
                            <div class="form-check">
                                <input type="radio" class="btn-check" name="options" id="option2" value="Tomato sauce" autocomplete="off">
                                <label class="btn" for="option2">
                                    <div>
                                        <img src="{{ asset('img/pizza/pizzaSauce/tomatoSauce.png') }}" alt=""
                                             style="object-fit: contain; max-height: 50px;">
                                        Tomato Sauce
                                    </div>
                                </label>
                            </div>
                            <br>
                            <div class="form-check">
                                <input type="radio" class="btn-check" name="options" id="option3" value="Extra tomato sauce" autocomplete="off">
                                <label class="btn" for="option3">
                                    <div>
                                        <img src="{{ asset('img/pizza/pizzaSauce/extraTomatoSauce.png') }}" alt=""
                                             style="object-fit: contain; max-height: 50px;">
                                        Extra Tomato Sauce
                                    </div>
                                </label>
                            </div>
                            <br>
                            <div class="form-check">
                                <input type="radio" class="btn-check" name="options"  id="option4" value="No sauce" autocomplete="off">
                                <label class="btn" for="option4">
                                    <div>
                                        <img src="{{ asset('img/pizza/pizzaSauce/geenSauce.png') }}" alt=""
                                             style="object-fit: contain; max-height: 50px;">
                                        No Sauce
                                    </div>
                                </label>

                            </div>
                        </div>
                        <br>
                        <br>
                        <h3 class="head-text  text-black">Quantity</h3>
                        <br>
                        <input type="number" name="quantity" class="form-control" value="1" min="1">
                        <br>
                        <h3 class="head-text text-black">{{ pizza.price }}</h3>
                        <p>{{ pizza.discription }}</p>
                        <br>
                        <div class="modal-footer">
                            <div class="d-grid col-6 ">
                                <form action="{{ path('app_add_shopping_cart', {'id': pizza.id}) }}" method="POST">
                                    <input type="hidden" name="referer" value="{{ app.request.uri }}">
                                    <button class="btn btn-warning d-flex justify-content-between" type="submit">
                                        <div class="head-text">{{ pizza.price }}</div>
                                        <div class="head-text">Add to cart</div>
                                    </button>
                                </form>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        {% endfor %}
    </main>
    <footer>

        <div class="container">
            <footer class="py-5">
                <div class="row">
                    <div class="col-6 col-md-2 mb-3">
                        <img class="img-logo" src="{{ asset('img/logo.png') }}" alt="">


                    </div>

                    <div class="col-6 col-md-2 mb-3">
                        <h4 class="head-text">OpeningsTijd:</h4>
                        <ul class="nav flex-column">
                            <li class="nav-item mb-2">• Ma 8:00 - 17:30</li>
                            <li class="nav-item mb-2">• Di 8:00 - 17:30</li>
                            <li class="nav-item mb-2">• Wo 8:00 - 17:30</li>
                            <li class="nav-item mb-2">• Do 8:00 - 17:30</li>
                            <li class="nav-item mb-2">• Vr 8:00 - 17:30</li>
                            <li class="nav-item mb-2">• Za 8:00 - 12:00</li>
                            <li class="nav-item mb-2">• Zo - CLOSED</li>
                        </ul>
                    </div>

                    <div class="col-6 col-md-2 mb-3">
                        <h4 class="head-text">ADRES</h4>
                        <ul class="nav flex-column">
                            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-light">PIZZA LA DUSHI</a>
                            </li>
                            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-light">020-3080209</a>
                            </li>
                            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-light">BRASSESKADE
                                    1</a>
                            </li>
                            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-light">2612 CA
                                    DELFT</a></li>
                            </li>
                        </ul>
                    </div>

                    <div class="col-md-5 offset-md-1 mb-3">
                        <iframe
                                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4910.171219570555!2d4.347268376988208!3d52.023538072866955!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c5b5d776440205%3A0xe5bfa517b4fd0e71!2sBrasserskade%201%2C%202612%20CA%20Delft!5e0!3m2!1snl!2snl!4v1725306360753!5m2!1snl!2snl"
                                width="600" height="450" style="border:0; width: 100%; height: 384px;"
                                allowfullscreen=""
                                loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                </div>

                <div class="d-flex flex-column flex-sm-row justify-content-between py-4 my-4 border-top">
                    <p>© 2024 Company, Inc. All rights reserved.</p>
                    <ul class="list-unstyled d-flex ">
                        <i class="bi bi-twitter"></i>
                        <i class="bi bi-youtube"></i>
                        <i class="bi bi-facebook"></i>
                    </ul>
                </div>
            </footer>
        </div>
    </footer>


    </body>
{% endblock %}
