{% extends 'base.html.twig' %}

{% block title %}Hello ContactController!{% endblock %}

{% block body %}
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">

    <body>
    <header class="sticky-top">
        <div class="header">
            <div class="container">
                <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3">
                    <div>
                        <a href="{{ path('app_mainpage') }}" class="d-inline-flex text-decoration-none">
                            <img class="img-logo" src="{{ asset('img/logo.png') }}" alt="">
                        </a>
                    </div>

                    <ul class="nav col-12 col-md-auto justify-content-center">
                        <li><a href="{{ path('app_mainpage') }}" class="nav-link px-2 text-light">HOME</a></li>
                        <li><a href="{{ path('app_contact') }}" class="nav-link px-2 text-light">CONTACT</a></li>
                    </ul>

                    <div class="d-flex justify-content-center">
                        <!-- User Account Button -->
                        <button class="btn" type="button" data-bs-toggle="offcanvas"
                                data-bs-target="#offcanvasWithBothOptions" aria-controls="offcanvasWithBothOptions">
                            <h2><i class="bi bi-person-circle text-light"></i></h2>
                        </button>

                        <!-- Account Offcanvas -->
                        <div class="offcanvas offcanvas-start text-bg-white d-flex flex-column rounded-4"
                             data-bs-scroll="true" tabindex="-1"
                             id="offcanvasWithBothOptions" aria-labelledby="offcanvasWithBothOptionsLabel">
                            <div class="offcanvas-header" style="background-color: #f0eeee;">
                                <h4 class="mb-0 head-text text-black">
                                    {% if app.user %}
                                        {{ app.user.firstName }}'s Account
                                    {% else %}
                                        Guest Account
                                    {% endif %}
                                </h4>
                                <button type="button" class="btn-close btn-close-black" data-bs-dismiss="offcanvas"
                                        aria-label="Close"></button>
                            </div>

                            <div class="offcanvas-body flex-grow-1 overflow-auto d-flex justify-content-center align-items-center">

                                <div class="head-text text-black">
                                    {% if app.user %}
                                        <!-- Show user name when logged in -->
                                        {#                                        <div class="btn btn-warning checkout-btn w-100 mb-3">#}
                                        {#                                            {{ app.user.firstName }}#}
                                        {#                                        </div>#}
                                        <div class="btn btn-warning checkout-btn w-100 mb-3">
                                            <a href="{{ path('app_logout') }}">Logout</a>
                                        </div>
                                    {% else %}
                                        <a href="{{ path('app_login') }}">
                                            <button class="btn btn-warning checkout-btn w-100 mb-3">Login</button>
                                        </a>
                                        <a href="{{ path('app_register') }}">
                                            <button class="btn btn-warning checkout-btn w-100 mb-3">Sign up</button>
                                        </a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>


                        <!-- Shopping Cart Button (Always Visible) -->
                        <button class="btn bg-transparent border border-0" type="button" data-bs-toggle="offcanvas"
                                data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar"
                                aria-label="Toggle navigation">
                            <h2><i class="bi bi-cart text-light"></i></h2>
                        </button>

                        <!-- Shopping Cart Offcanvas -->
                        <div class="offcanvas offcanvas-end text-bg-white d-flex flex-column rounded-4" tabindex="-1"
                             id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
                            <div class="offcanvas-header" style="background-color: #f0eeee;">
                                <h4 class="mb-0 head-text text-black">Your Cart</h4>
                                <button type="button" class="btn-close btn-close-black" data-bs-dismiss="offcanvas"
                                        aria-label="Close"></button>
                            </div>

                            <div class="offcanvas-body flex-grow-1 overflow-auto d-flex justify-content-center align-items-center">
                                <div id="cart-items" class="text-center">
                                    <div>
                                        <img src="{{ asset('img/spoon-and-fork.png') }}" style="width: 100px;" alt="">
                                        <br><br>
                                        <h5 class="head-text text-black">Your cart is empty</h5>
                                    </div>
                                </div>
                            </div>

                            <!-- Summary Section -->
                            <div class="mt-auto p-4 shadow-sm border rounded">
                                <a href="{{ path('app_checkout') }}">
                                    <button class="btn btn-warning checkout-btn w-100 mb-3">Proceed to Checkout</button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <main>

        <div class="container bg-white p-5">
            <div class="row featurette">


                <div>
                    <div class="container">
                        <div class="d-flex justify-content-center">
                            <h1 class="head-text text-black">ABOUT US</h1>
                        </div>
                        <br>
                        <br>
                        <div class="text-center text-black">
                            <p>At Pizza La Dushi, we believe that everyone deserves to enjoy delicious, high-quality
                                pizza
                                without breaking the bank! That’s why we’re committed to serving the best-tasting pizzas
                                at
                                the most affordable prices.
                                <br>
                                <br>
                                Using only the freshest ingredients, our pizzas are made with love and passion, bringing
                                you
                                the perfect combination of crispy crusts, rich sauces, and mouthwatering toppings.
                                Whether
                                you're craving a classic Margherita, a loaded meat feast, or a custom creation, we've
                                got
                                something for everyone!
                                <br>
                                <br>
                                Great taste, unbeatable prices, and a true love for pizza – that’s what Pizza La Dushi
                                is
                                all about. Come taste the difference today!</p>
                        </div>
                        <br>
                        <hr>
                        <br>
                        <div class="d-flex justify-content-center">
                            <h1 class="head-text text-black">CONTACT</h1>
                        </div>
                        <br>
                        <div class="text-center text-black">
                            <p>
                                Contact Us – Pizza La Dushi
                                <br>
                                <br>
                                Got a craving for the best pizza at the best price? We’re here to serve you! Whether you
                                have a question, need to place an order, or just want to say hi, we’d love to hear from
                                you.
                                <br>
                                <br>
                                📍 Visit Us: [Brasserskade 1] <br>
                                📞 Call Us: [+31 06984532] <br>
                                📧 Email Us: [pizzaladushi@gmail.com] <br>
                                🌍 Follow Us: [Pizza_la_dushi] <br>
                                <br>
                                <br>
                                Hungry? Don’t wait! Get in touch today and let’s get that pizza to you fresh and fast!
                                🍕🔥
                            </p>
                        </div>
                        <hr>
                        <br>
                        <div class="d-flex justify-content-center">
                            <h1 class="head-text text-black">WHERE TO FIND US?</h1>
                        </div>
                        <br>
                        <div class="text-center text-black">
                            <p>
                                Craving the best pizza at the best price? You can find Pizza La Dushi right here! We’re
                                conveniently located at Brasserskade 1, making it easy for you to stop by and grab a
                                hot, fresh pizza whenever you need it.
                                <br>
                                <br>
                                Whether you’re dining in, picking up, or ordering for delivery, we’re always ready to
                                serve you with delicious, affordable pizzas.
                                <br>
                                <br>
                                📍 Find us at: Brasserskade 1 <br>
                                🕒 Opening Hours:
                            <ul class="nav flex-column">
                                <li class="nav-item mb-2">• Mon 8:00 - 17:30</li>
                                <li class="nav-item mb-2">• Tue 8:00 - 17:30</li>
                                <li class="nav-item mb-2">• Wed 8:00 - 17:30</li>
                                <li class="nav-item mb-2">• Thu 8:00 - 17:30</li>
                                <li class="nav-item mb-2">• Fri 8:00 - 17:30</li>
                                <li class="nav-item mb-2">• Sat 8:00 - 12:00</li>
                                <li class="nav-item mb-2">• Sun - CLOSED</li>
                            </ul>

                            <br>
                            Come visit us today and taste the best pizza in town! 🍕🔥
                            </p>
                        </div>
                    </div>
                    <div class="container">
                        <iframe
                                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4910.171219570555!2d4.347268376988208!3d52.023538072866955!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c5b5d776440205%3A0xe5bfa517b4fd0e71!2sBrasserskade%201%2C%202612%20CA%20Delft!5e0!3m2!1snl!2snl!4v1725306360753!5m2!1snl!2snl"
                                width="600" height="450" style="border:0; width: 100%; height: 384px;"
                                allowfullscreen=""
                                loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>

                </div>
            </div>
        </div>
    </main>
    <!-- footer -->


    </body>
{% endblock %}
