{% extends 'base.html.twig' %}

{% block title %}Hello ContactController!{% endblock %}

{% block body %}
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">

    <body>
    <header class="sticky-top">
        <div class="header">
            <div class="container">
                <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3">
                    <div>
                        <a href="{{ path('app_mainpage') }}" class="d-inline-flex text-decoration-none">
                            <img class="img-logo" src="{{ asset('img/logo.png') }}" alt="">
                        </a>
                    </div>

                    <ul class="nav col-12 col-md-auto justify-content-center">
                        <li><a href="{{ path('app_mainpage') }}" class="nav-link px-2 text-light">HOME</a></li>
                        <li><a href="{{ path('app_contact') }}" class="nav-link px-2 text-light">CONTACT</a></li>
                    </ul>

                    <div class="d-flex justify-content-center">
                        <!-- User Account Button -->
                        <button class="btn" type="button" data-bs-toggle="offcanvas"
                                data-bs-target="#offcanvasWithBothOptions" aria-controls="offcanvasWithBothOptions">
                            <h2><i class="bi bi-person-circle text-light"></i></h2>
                        </button>

                        <!-- Account Offcanvas -->
                        <div class="offcanvas offcanvas-start text-bg-white d-flex flex-column rounded-4"
                             data-bs-scroll="true" tabindex="-1"
                             id="offcanvasWithBothOptions" aria-labelledby="offcanvasWithBothOptionsLabel">
                            <div class="offcanvas-header" style="background-color: #f0eeee;">
                                <h4 class="mb-0 head-text text-black">
                                    {% if app.user %}
                                        {{ app.user.firstName }}'s Account
                                    {% else %}
                                        Guest Account
                                    {% endif %}
                                </h4>
                                <button type="button" class="btn-close btn-close-black" data-bs-dismiss="offcanvas"
                                        aria-label="Close"></button>
                            </div>

                            <div class="offcanvas-body flex-grow-1 overflow-auto d-flex justify-content-center align-items-center">

                                <div class="head-text text-black">
                                    <div id="cart-items" class="text-center">
                                        {% if app.user %}
                                            <!-- Show user name when logged in -->
                                            <div class="btn btn-warning checkout-btn w-100 mb-3">
                                                <a href="{{ path('app_logout') }}">Logout</a>
                                            </div>
                                        {% else %}
                                            <img src="{{ asset('img/account.png') }}" style="width: 200px;" alt="">
                                            <a href="{{ path('app_login') }}">
                                                <button class="btn btn-warning checkout-btn w-100 mb-3">Login</button>
                                            </a>
                                            <a href="{{ path('app_register') }}">
                                                <button class="btn btn-warning checkout-btn w-100 mb-3">Sign up</button>
                                            </a>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>


                        <!-- Shopping Cart Button (Always Visible) -->
                        <button class="btn bg-transparent border border-0" type="button" data-bs-toggle="offcanvas"
                                data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar"
                                aria-label="Toggle navigation">
                            <h2><i class="bi bi-cart text-light"></i></h2>
                        </button>

                        <!-- Shopping Cart Offcanvas -->
                        <div class="offcanvas offcanvas-end text-bg-white d-flex flex-column rounded-4" tabindex="-1"
                             id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
                            <div class="offcanvas-header" style="background-color: #f0eeee;">
                                {% if app.user %}
                                    <h4 class="mb-0 head-text text-black">Your Cart {{ app.user.firstName }}</h4>
                                {% else %}
                                    Your Cart Guest
                                {% endif %}
                                <button type="button" class="btn-close btn-close-black" data-bs-dismiss="offcanvas"
                                        aria-label="Close"></button>
                            </div>

                            <div class="offcanvas-body flex-grow-1 overflow-auto d-flex justify-content-center align-items-center">
                                <div id="cart-items" class="text-center">
                                    <div>
                                        <img src="{{ asset('img/spoon-and-fork.png') }}" style="width: 100px;" alt="">
                                        <br><br>
                                        <h5 class="head-text text-black">Your cart is empty</h5>
                                    </div>
                                </div>
                            </div>

                            <!-- Summary Section -->
                            <div class="mt-auto p-4 shadow-sm border rounded">
                                <a href="{{ path('app_checkout') }}">
                                    <button class="btn btn-warning checkout-btn w-100 mb-3">Proceed to Checkout</button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <main>

        <section class="bg-light py-5">
            <div class="container">
                <div class="row">
                    <div class="col-xl-8 col-lg-8 mb-4">
                        <div class="card mb-4 border shadow-0">
                            <div class="p-4 d-flex justify-content-between">
                                <div class="">
                                    {% if app.user %}
                                        {{ app.user.firstName }} {{ app.user.lastName }}
                                    {% else %}
                                        <h5>Have an account?</h5>
                                        <p>Sign up is free! If you don't have an account yet.</p>
                                    {% endif %}
                                </div>
                                <div class="d-flex align-items-center justify-content-center flex-column flex-md-row gap-2">
                                    {% if not app.user %}
                                        <!-- Show login and sign-up buttons when NOT logged in -->
                                        <a href="{{ path('app_login') }}">
                                            <button class="btn btn-warning checkout-btn w-100 mb-3">Login</button>
                                        </a>

                                        <a href="{{ path('app_register') }}">
                                            <button class="btn btn-warning checkout-btn w-100 mb-3">Sign up</button>
                                        </a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>

                        <!-- Checkout -->
                        <div class="card shadow-0 border">
                            <div class="p-4">
                                <h5 class="card-title mb-3">Checkout</h5>

                                {{ form_start(form, {'attr': {'class': 'needs-validation'}}) }}

                                <div class="row">
                                    <div class="col-6 mb-3">
                                        {{ form_label(form.firstName, 'name', {'label_attr': {'class': 'mb-0'}}) }}
                                        <div class="form-outline">
                                            {{ form_widget(form.firstName, {'attr': {'class': 'form-control'}}) }}
                                            {{ form_errors(form.firstName) }}
                                        </div>
                                    </div>

                                    <div class="col-6 mb-3">
                                        {{ form_label(form.lastName, 'Last Name', {'label_attr': {'class': 'mb-0'}}) }}
                                        <div class="form-outline">
                                            {{ form_widget(form.lastName, {'attr': {'class': 'form-control'}}) }}
                                            {{ form_errors(form.lastName) }}
                                        </div>
                                    </div>

                                    <div class="col-6 mb-3">
                                        {{ form_label(form.phoneNumber, 'Phone', {'label_attr': {'class': 'mb-0'}}) }}
                                        <div class="form-outline">
                                            {{ form_widget(form.phoneNumber, {'attr': {'class': 'form-control'}}) }}
                                            {{ form_errors(form.phoneNumber) }}
                                        </div>
                                    </div>

                                    <div class="col-6 mb-3">
                                        {{ form_label(form.email, 'Email', {'label_attr': {'class': 'mb-0'}}) }}
                                        <div class="form-outline">
                                            {{ form_widget(form.email, {'attr': {'class': 'form-control', 'placeholder': 'example@gmail.com'}}) }}
                                            {{ form_errors(form.email) }}
                                        </div>
                                    </div>
                                </div>


                                <hr class="my-4"/>

                                <h5 class="card-title mb-3">Shipping Info</h5>
                                <br>

                                <div class="row mb-3 d-flex justify-content-center align-items-center">
                                    {{ form_label(form.deliveryMethod) }}
                                    {{ form_widget(form.deliveryMethod, { 'attr': {'class': 'form-control'} }) }}
                                    {{ form_errors(form.deliveryMethod) }}

                                </div>

                                <div class="row">
                                    <div class="col-sm-8 mb-3">
                                        {{ form_label(form.address, 'Address', {'label_attr': {'class': 'mb-0'}}) }}
                                        <div class="form-outline">
                                            {{ form_widget(form.address, {'attr': {'class': 'form-control'}}) }}
                                            {{ form_errors(form.address) }}
                                        </div>
                                    </div>


                                    <div class="col-sm-4 col-6 mb-3">
                                        {{ form_label(form.zipp_code, 'Zip Code', {'label_attr': {'class': 'mb-0'}}) }}
                                        <div class="form-outline">
                                            {{ form_widget(form.zipp_code, {'attr': {'class': 'form-control'}}) }}
                                            {{ form_errors(form.zipp_code) }}
                                        </div>
                                    </div>
                                </div>

                                <div class="float-end">
                                    <a href="{{ path('app_mainpage') }}">
                                        <button type="button" class="btn btn-light border">Cancel</button>
                                    </a>
                                    <button type="submit" class="btn btn-success shadow-0 border">Continue</button>
                                </div>

                                {{ form_end(form) }}
                            </div>
                        </div>

                        <!-- Checkout -->
                    </div>
                    <div class="col-xl-4 col-lg-4 d-flex justify-content-center justify-content-lg-end">
                        <div class="ms-lg-4 mt-4 mt-lg-0" style="max-width: 320px;">
                            <h5 class="head-text text-black mb-3">Summary</h5>
                            {% set total = 0 %}
                            {% for item in shopping_cart %}
                                {% set itemTotal = item.price * item.quantity %}
                                {% set total = total + itemTotal %}
                            {% endfor %}

                            {# Determine the shipping cost based on the delivery method #}
                            {% set shippingCost = 0 %}
                            {% if form.deliveryMethod.vars.value == 'delivery' %}
                                {% set shippingCost = 2.50 %}
                            {% endif %}

                            {# Adding shipping cost #}
                            {# Calculate the grand total #}
                            {% set grandTotal = total + shippingCost %}
                                <div class="d-flex justify-content-between">
                                    <p class="mb-2">Total price:</p>
                                    <p class="mb-2">€ {{ total }}</p>
                                </div>

                                <div class="d-flex justify-content-between">
                                    <p class="mb-2">Shipping cost:</p>
                                    <p class="mb-2"> + €2,50</p>
                                </div>
                                <hr/>
                                <div class="d-flex justify-content-between">
                                    <p class="mb-2">Total price:</p>
                                    <p class="mb-2 fw-bold">€ {{ grandTotal }}</p>
                                </div>





                            <hr/>
                            <h6 class="text-dark my-4">Items in cart</h6>

                            {% if shopping_cart is empty %}
                                <div class="offcanvas-body flex-grow-1 overflow-auto d-flex justify-content-center align-items-center">
                                    <div id="cart-items" class="text-center">
                                        <div>

                                            <h5 class="head-text text-black">Your cart is empty</h5>
                                        </div>
                                    </div>
                                </div>
                            {% else %}
                                {% for item in shopping_cart %}
                                    <div class="product-card p-3 shadow-sm border rounded d-flex align-items-center"
                                         id="cart-item-{{ item.id }}">
                                        <div class="row w-100 align-items-center">
                                            <!-- Product Image -->
                                            <div class="col-5 text-center">
                                                <img src="{{ asset(item.image) }}" style="width: 96px;"
                                                     class="img-sm rounded border"/>
                                            </div>
                                            <!-- Product Details -->
                                            <div class="col-4">
                                                <p class="head-text text-black text-sm mb-1">{{ item.name }}</p>
                                                <span class="badge text-sm" style="background-color: #330c08; color: white; font-weight: 1000;">{{ item.price }}</span>
                                                <span class="badge text-sm" style="background-color: #330c08; color: white; font-weight: 1000;">{{ item.size }}</span>
                                                <span class="badge text-sm" style="background-color: #330c08; color: white; font-weight: 1000;">{{ item.quantity  }}</span>
                                            </div>
                                            <!-- Remove Button -->
                                            <div class="col-3 text-end">
                                                <form method="post" action="{{ path('app_remove_shopping_cart', {'id': item.id}) }}">
                                                    <input type="hidden" name="referer" value="{{ app.request.headers.get('referer') }}">
                                                    <button type="submit" class="btn btn-sm btn-danger">
                                                        <i class="bi bi-trash"></i>
                                                    </button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </section>


    </main>
    <!-- footer -->
    <footer>

        <div class="container">
            <footer class="py-5">
                <div class="row">
                    <div class="col-6 col-md-2 mb-3">
                        <img class="img-logo" src="{{ asset('img/logo.png') }}" alt="">
                    </div>

                    <div class="col-6 col-md-2 mb-3">
                        <h4 class="head-text">OpeningsTijd:</h4>
                        <ul class="nav flex-column">
                            <li class="nav-item mb-2">• Ma 8:00 - 17:30</li>
                            <li class="nav-item mb-2">• Di 8:00 - 17:30</li>
                            <li class="nav-item mb-2">• Wo 8:00 - 17:30</li>
                            <li class="nav-item mb-2">• Do 8:00 - 17:30</li>
                            <li class="nav-item mb-2">• Vr 8:00 - 17:30</li>
                            <li class="nav-item mb-2">• Za 8:00 - 12:00</li>
                            <li class="nav-item mb-2">• Zo - CLOSED</li>
                        </ul>
                    </div>

                    <div class="col-6 col-md-2 mb-3">
                        <h4 class="head-text">ADRES</h4>
                        <ul class="nav flex-column">
                            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-light">PIZZA LA DUSHI</a>
                            </li>
                            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-light">020-3080209</a>
                            </li>
                            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-light">BRASSESKADE
                                    1</a>
                            </li>
                            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-light">2612 CA
                                    DELFT</a></li>
                            </li>
                        </ul>
                    </div>

                    <div class="col-md-5 offset-md-1 mb-3">
                        <iframe
                                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4910.171219570555!2d4.347268376988208!3d52.023538072866955!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c5b5d776440205%3A0xe5bfa517b4fd0e71!2sBrasserskade%201%2C%202612%20CA%20Delft!5e0!3m2!1snl!2snl!4v1725306360753!5m2!1snl!2snl"
                                width="600" height="450" style="border:0; width: 100%; height: 384px;"
                                allowfullscreen=""
                                loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                </div>

                <div class="d-flex flex-column flex-sm-row justify-content-between py-4 my-4 border-top">
                    <p>© 2024 Company, Inc. All rights reserved.</p>
                    <ul class="list-unstyled d-flex ">
                        <i class="bi bi-twitter"></i>
                        <i class="bi bi-youtube"></i>
                        <i class="bi bi-facebook"></i>
                    </ul>
                </div>
            </footer>
        </div>
    </footer>

    </body>
{% endblock %}
