{% extends 'base.html.twig' %}

{% block title %}Hello ContactController!{% endblock %}

{% block body %}
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">

    <body>
    <header class="sticky-top">
        <div class="header">
            <div class="container">
                <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3">
                    <div>
                        <a href="{{ path('app_mainpage') }}" class="d-inline-flex text-decoration-none">
                            <img class="img-logo" src="{{ asset('img/logo.png') }}" alt="">
                        </a>
                    </div>

                    <ul class="nav col-12 col-md-auto justify-content-center">
                        <li><a href="{{ path('app_mainpage') }}" class="nav-link px-2 text-light">HOME</a></li>
                        <li><a href="{{ path('app_contact') }}" class="nav-link px-2 text-light">CONTACT</a></li>
                    </ul>

                    <div class="d-flex justify-content-center">
                        <!-- User Account Button -->
                        <button class="btn" type="button" data-bs-toggle="offcanvas"
                                data-bs-target="#offcanvasWithBothOptions" aria-controls="offcanvasWithBothOptions">
                            <h2><i class="bi bi-person-circle text-light"></i></h2>
                        </button>

                        <!-- Account Offcanvas -->
                        <div class="offcanvas offcanvas-start text-bg-white d-flex flex-column rounded-4"
                             data-bs-scroll="true" tabindex="-1"
                             id="offcanvasWithBothOptions" aria-labelledby="offcanvasWithBothOptionsLabel">
                            <div class="offcanvas-header" style="background-color: #f0eeee;">
                                <h4 class="mb-0 head-text text-black">
                                    {% if app.user %}
                                        {{ app.user.firstName }}'s Account
                                    {% else %}
                                        Guest Account
                                    {% endif %}
                                </h4>
                                <button type="button" class="btn-close btn-close-black" data-bs-dismiss="offcanvas"
                                        aria-label="Close"></button>
                            </div>

                            <div class="offcanvas-body flex-grow-1 overflow-auto d-flex justify-content-center align-items-center">

                                <div class="head-text text-black">
                                    {% if app.user %}
                                        <!-- Show user name when logged in -->
                                        {#                                        <div class="btn btn-warning checkout-btn w-100 mb-3"> #}
                                        {#                                            {{ app.user.firstName }} #}
                                        {#                                        </div> #}
                                        <div class="btn btn-warning checkout-btn w-100 mb-3">
                                            <a href="{{ path('app_logout') }}">Logout</a>
                                        </div>
                                    {% else %}
                                        <a href="{{ path('app_login') }}">
                                            <button class="btn btn-warning checkout-btn w-100 mb-3">Login</button>
                                        </a>
                                        <a href="{{ path('app_register') }}">
                                            <button class="btn btn-warning checkout-btn w-100 mb-3">Sign up</button>
                                        </a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>


                        <!-- Shopping Cart Button (Always Visible) -->
                        <button class="btn bg-transparent border border-0" type="button" data-bs-toggle="offcanvas"
                                data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar"
                                aria-label="Toggle navigation">
                            <h2><i class="bi bi-cart text-light"></i></h2>
                        </button>

                        <!-- Shopping Cart Offcanvas -->
                        <div class="offcanvas offcanvas-end text-bg-white d-flex flex-column rounded-4" tabindex="-1"
                             id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
                            <div class="offcanvas-header" style="background-color: #f0eeee;">
                                <h4 class="mb-0 head-text text-black">Your Cart</h4>
                                <button type="button" class="btn-close btn-close-black" data-bs-dismiss="offcanvas"
                                        aria-label="Close"></button>
                            </div>

                            <div class="offcanvas-body flex-grow-1 overflow-auto d-flex justify-content-center align-items-center">
                                <div id="cart-items" class="text-center">
                                    <div>
                                        <img src="{{ asset('img/spoon-and-fork.png') }}" style="width: 100px;" alt="">
                                        <br><br>
                                        <h5 class="head-text text-black">Your cart is empty</h5>
                                    </div>
                                </div>
                            </div>

                            <!-- Summary Section -->
                            <div class="mt-auto p-4 shadow-sm border rounded">
                                <a href="{{ path('app_checkout') }}">
                                    <button class="btn btn-warning checkout-btn w-100 mb-3">Proceed to Checkout</button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <main>
        <div class="container mt-5 mb-5">
            <div class="row justify-content-center align-items-center">
                <!-- Centering the content horizontally and vertically -->
                <div class="col-md-8"> <!-- Left column -->
                    {{ form_start(form, {'attr': {'enctype': 'multipart/form-data', 'class': 'needs-validation'}}) }}
                    <!-- Main Content -->
                    <div class="pt-4">
                        <h1 class="head-text text-black text-center">Account Settings</h1>
                        <hr>
                        <div class="mb-4">
                            <h4 class="head-text text-black text-center">Account Information</h4>
                            <div class="mb-3">
                                {{ form_label(form.email, 'Email', {'label_attr': {'class': 'form-label'}}) }}
                                {{ form_widget(form.email, {'attr': {'class': 'form-control form-control-sm', 'placeholder': 'Enter email'}}) }}
                                {{ form_errors(form.email) }}
                            </div>
                        </div>

                        <!-- Personal Details -->
                        <div class="mb-4">
                            <h4 class="head-text text-black text-center">Personal Details</h4>
                            <div class="row">
                                <div class="mb-3 col-md-6">
                                    {{ form_label(form.firstName, 'First Name', {'label_attr': {'class': 'form-label'}}) }}
                                    {{ form_widget(form.firstName, {'attr': {'class': 'form-control form-control-sm', 'placeholder': 'Enter First Name'}}) }}
                                    {{ form_errors(form.firstName) }}
                                </div>
                                <div class="mb-3 col-md-6">
                                    {{ form_label(form.lastName, 'Last Name', {'label_attr': {'class': 'form-label'}}) }}
                                    {{ form_widget(form.lastName, {'attr': {'class': 'form-control form-control-sm', 'placeholder': 'Enter Last Name'}}) }}
                                    {{ form_errors(form.lastName) }}
                                </div>
                                <div class="mb-3 col-md-6">
                                    {{ form_label(form.phoneNumber, 'Phone Number', {'label_attr': {'class': 'form-label'}}) }}
                                    {{ form_widget(form.phoneNumber, {'attr': {'class': 'form-control form-control-sm', 'placeholder': 'Enter Phone Number'}}) }}
                                    {{ form_errors(form.phoneNumber) }}
                                </div>
                            </div>
                        </div>

                        <!-- Address Section -->
                        <div>
                            <h4 class="head-text text-black text-center">Address</h4>
                            <div class="row">
                                <div class="mb-3 col-md-6">
                                    {{ form_label(form.address, 'Address', {'label_attr': {'class': 'form-label'}}) }}
                                    {{ form_widget(form.address, {'attr': {'class': 'form-control form-control-sm', 'placeholder': 'Enter address'}}) }}
                                    {{ form_errors(form.address) }}
                                </div>
                                <div class="mb-3 col-md-6">
                                    {{ form_label(form.zipp_code, 'Zip Code', {'label_attr': {'class': 'form-label'}}) }}
                                    {{ form_widget(form.zipp_code, {'attr': {'class': 'form-control form-control-sm', 'placeholder': 'Enter zip code'}}) }}
                                    {{ form_errors(form.zipp_code) }}
                                </div>
                            </div>
                        </div>

                        <!-- Profile Picture Upload Section -->

                    </div>

                </div>

                <!-- Right column (optional, but the button should be removed here) -->
                <div class="mb-4 text-center">
                    <h4 class="head-text text-black">Profile Picture</h4>
                    {# Display the current user profile image if it exists #}
                    {% if user.pfp %}
                        <img src="{{ asset(user.pfp) }}" class="rounded-circle mx-auto d-block" style="width: 200px; height: 175px">
                    {% else %}

                    {% endif %}

                    {{ form_row(form.imageFile) }} <!-- Image upload field -->
                </div>

                <div class="text-center">
                    <button class="btn btn-primary" type="submit" name="send" value="Updaten">Update</button>
                </div>
            </div>
            {{ form_end(form) }} <!-- End of the form -->
            </div>
        </div>
    </main>



    <!-- footer -->


    </body>
{% endblock %}
